Checks: bugprone-*,clang-analyzer-*,concurrency-*,google-*,linuxkernel-*,llvm-*,llvmlibc-*,misc-*,modernize-*,performance-*,readability-*,-llvm-header-guard,-google-readability-todo,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-magic-numbers,-clang-analyzer-optin.portability.UnixAPI
